In [1]:
import pymongo
import pandas as pd
import re
import numpy as np

In [2]:
user = 'team04'
pw = '1111'
host = 'ec2-54-95-8-243.ap-northeast-1.compute.amazonaws.com'
client = pymongo.MongoClient(f'mongodb://{user}:{pw}@{host}:27017/')
db = client.resell

In [80]:
df = pd.DataFrame(db.kream_detail.find())
df.head()

,_id,brand,prod_kr_name,rescent_price,model_no,release_date,colors,release_price,instant_buy_price,instant_sell_price,img_url
0,Jordan 1 Low Vintage Grey,Jordan,조던 1 로우 빈티지 그레이,"200,000",553558-053,-,GREY/WHITE/CREAM,"129,000원","202,000","201,000",https://kream-phinf.pstatic.net/MjAyMjA2MjdfMT...
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,"1,555,000",DM7866-140,21/08/13,SAIL/BLACK/MILITARY BLUE,"189,000원","1,540,000","2,230,000",https://kream-phinf.pstatic.net/MjAyMTA3MzBfNT...
2,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,"702,000",555088-105,20/11/13,SAIL/DARK MOCHA-BLACK-BLACK,"199,000원","600,000","818,000",https://kream-phinf.pstatic.net/MjAyMDEwMjJfOC...
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,"312,000",DH6927-111,22/05/23,WHITE/BLACK/NEUTRAL GREY,"249,000원","299,000","313,000",https://kream-phinf.pstatic.net/MjAyMjA1MDlfOD...
4,Jordan 1 Retro High OG Bleached Coral,Jordan,조던 1 레트로 하이 OG 블리치드 코랄,"244,000",555088-108,22/05/14,WHITE/BLACK/GREY FOG/BLEACHED CORAL,"209,000원","207,000","270,000",https://kream-phinf.pstatic.net/MjAyMjA1MDlfMT...

In [83]:
df['OG'] = df['_id'].str.contains(pat= 'OG').astype(int)
df['Retro'] = df['_id'].str.contains(pat='Retro').astype(int)
df['SP'] = df['_id'].str.contains(pat='SP').astype(int)
df['QS'] = df['_id'].str.contains(pat='QS').astype(int)
df['SB'] = df['_id'].str.contains(pat='SB').astype(int)
df['SE'] = df['_id'].str.contains(pat='SE').astype(int)
df['FF'] = df['_id'].str.contains(pat='F&F').astype(int)
df['Chicago'] = df['_id'].str.contains(pat='Chicago').astype(int)

In [84]:
df['High'] = df['_id'].str.contains(pat='High').astype(int)
df['Mid'] = df['_id'].str.contains(pat='Mid').astype(int)
df['Low'] = df['_id'].str.contains(pat='Low').astype(int)

In [85]:
df['Clot'] = df['_id'].str.contains(pat= 'Clot').astype(int)
df['Fragment'] = df['_id'].str.contains(pat= 'Fragment').astype(int)
df['Union'] = df['_id'].str.contains(pat= 'Union').astype(int)
df['Jayson'] = df['_id'].str.contains(pat= 'Jayson').astype(int)
df['J'] = df['_id'].str.contains(pat= 'J').astype(int)
df['League'] = df['_id'].str.contains(pat= 'League').astype(int)
df['Paris'] = df['_id'].str.contains(pat= 'Paris').astype(int)
df['A'] = df['_id'].str.contains(pat= 'A').astype(int)
df['Trophy'] = df['_id'].str.contains(pat= 'Trophy').astype(int)
df['Travis'] = df['_id'].str.contains(pat= 'Travis').astype(int)
df['Maison'] = df['_id'].str.contains(pat= 'Maison').astype(int)
df['Dior'] = df['_id'].str.contains(pat= 'Dior').astype(int)
df['Nina'] = df['_id'].str.contains(pat= 'Nina').astype(int)
df['Billie'] = df['_id'].str.contains(pat= 'Billie').astype(int)
df['Off'] = df['_id'].str.contains(pat= 'Off').astype(int)
df['SoleFly'] = df['_id'].str.contains(pat= 'SoleFly').astype(int)
df['Russell'] = df['_id'].str.contains(pat= 'Russell').astype(int)
df['Supreme'] = df['_id'].str.contains(pat= 'Supreme').astype(int)
df['Levis'] = df['_id'].str.contains(pat= 'Levis').astype(int)
df['Patta'] = df['_id'].str.contains(pat= 'Patta').astype(int)
df['Aleali'] = df['_id'].str.contains(pat= 'Aleali').astype(int)
df['Social'] = df['_id'].str.contains(pat= 'Social').astype(int)
df['Ghetto'] = df['_id'].str.contains(pat= 'Ghetto').astype(int)
df['Blue'] = df['_id'].str.contains(pat= 'Blue').astype(int)
df['Lance'] = df['_id'].str.contains(pat= 'Lance').astype(int)
df['SNS'] = df['_id'].str.contains(pat= 'SNS').astype(int)
df['Facetasm'] = df['_id'].str.contains(pat= 'Facetasm').astype(int)
df['DSM'] = df['_id'].str.contains(pat= 'DSM').astype(int)
df['Kaws'] = df['_id'].str.contains(pat= 'Kaws').astype(int)
df['Olivia'] = df['_id'].str.contains(pat= 'Olivia').astype(int)
df['Titan'] = df['_id'].str.contains(pat= 'Titan').astype(int)
df['Melody'] = df['_id'].str.contains(pat= 'Melody').astype(int)
df['Anna'] = df['_id'].str.contains(pat= 'Anna').astype(int)
df['Converse'] = df['_id'].str.contains(pat= 'Converse').astype(int)
df['Vogue'] = df['_id'].str.contains(pat= 'Vogue').astype(int)
df['Serena'] = df['_id'].str.contains(pat= 'Serena').astype(int)
df['Carmelo'] = df['_id'].str.contains(pat= 'Carmelo').astype(int)
df['Carhartt'] = df['_id'].str.contains(pat= 'Carhartt').astype(int)
df['Sheila'] = df['_id'].str.contains(pat= 'Sheila').astype(int)
df['Pendleton'] = df['_id'].str.contains(pat= 'Pendleton').astype(int)
df['Rox'] = df['_id'].str.contains(pat= 'Rox').astype(int)
df['Nike'] = df['_id'].str.contains(pat= 'Nike').astype(int)
df['Comme'] = df['_id'].str.contains(pat= 'Comme').astype(int)
df['PSNY'] = df['_id'].str.contains(pat= 'PSNY').astype(int)

In [86]:
df['Jordan 1'] = df['_id'].str.contains(pat= 'Jordan 1').astype(int)
df['Jordan 2' ] = df['_id'].str.contains(pat= 'Jordan 2' ).astype(int)
df['Jordan 3'] = df['_id'].str.contains(pat= 'Jordan 3').astype(int)
df['Jordan 4'] = df['_id'].str.contains(pat= 'Jordan 4').astype(int)
df['Jordan 5' ] = df['_id'].str.contains(pat= 'Jordan 5' ).astype(int)
df['Jordan 6' ] = df['_id'].str.contains(pat= 'Jordan 6' ).astype(int)
df['Jordan 7' ] = df['_id'].str.contains(pat= 'Jordan 7' ).astype(int)
df['Jordan 8' ] = df['_id'].str.contains(pat= 'Jordan 8' ).astype(int)
df['Jordan 9' ] = df['_id'].str.contains(pat= 'Jordan 9' ).astype(int)
df['Jordan 10'] = df['_id'].str.contains(pat= 'Jordan 10').astype(int)
df['Jordan 11'] = df['_id'].str.contains(pat= 'Jordan 11').astype(int)
df['Jordan 13'] = df['_id'].str.contains(pat= 'Jordan 13').astype(int)
df['Jordan 14'] = df['_id'].str.contains(pat= 'Jordan 14').astype(int)
df['Jordan 15'] = df['_id'].str.contains(pat= 'Jordan 15').astype(int)
df['Jordan 16'] = df['_id'].str.contains(pat= 'Jordan 16').astype(int)
df['Jordan 17'] = df['_id'].str.contains(pat= 'Jordan 17').astype(int)
df['Jordan 18'] = df['_id'].str.contains(pat= 'Jordan 18').astype(int)
df['Jordan 19'] = df['_id'].str.contains(pat= 'Jordan 19').astype(int)
df['Jordan 20'] = df['_id'].str.contains(pat= 'Jordan 20').astype(int)
df['Jordan 21'] = df['_id'].str.contains(pat= 'Jordan 21').astype(int)
df['Jordan 22'] = df['_id'].str.contains(pat= 'Jordan 22').astype(int)
df['Jordan 23'] = df['_id'].str.contains(pat= 'Jordan 23').astype(int)

In [87]:
df_copy = df.copy()

In [93]:
df_copy['release_price'] = df_copy['release_price'].str.replace(pat=',', repl='', regex=False)
df_copy['rescent_price'] = df_copy['rescent_price'].str.replace(pat=',', repl='', regex=False)
df_copy['instant_buy_price'] = df_copy['instant_buy_price'].str.replace(pat=',', repl='', regex=False)
df_copy['instant_sell_price'] = df_copy['instant_sell_price'].str.replace(pat=',', repl='', regex=False)

In [96]:
df_copy.head()

,_id,brand,prod_kr_name,rescent_price,model_no,release_date,colors,release_price,instant_buy_price,instant_sell_price,...,Jordan 14,Jordan 15,Jordan 16,Jordan 17,Jordan 18,Jordan 19,Jordan 20,Jordan 21,Jordan 22,Jordan 23
0,Jordan 1 Low Vintage Grey,Jordan,조던 1 로우 빈티지 그레이,200000,553558-053,-,GREY/WHITE/CREAM,129000원,202000,201000,...,0,0,0,0,0,0,0,0,0,0
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,1555000,DM7866-140,21/08/13,SAIL/BLACK/MILITARY BLUE,189000원,1540000,2230000,...,0,0,0,0,0,0,0,0,0,0
2,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,702000,555088-105,20/11/13,SAIL/DARK MOCHA-BLACK-BLACK,199000원,600000,818000,...,0,0,0,0,0,0,0,0,0,0
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,312000,DH6927-111,22/05/23,WHITE/BLACK/NEUTRAL GREY,249000원,299000,313000,...,0,0,0,0,0,0,0,0,0,0
4,Jordan 1 Retro High OG Bleached Coral,Jordan,조던 1 레트로 하이 OG 블리치드 코랄,244000,555088-108,22/05/14,WHITE/BLACK/GREY FOG/BLEACHED CORAL,209000원,207000,270000,...,0,0,0,0,0,0,0,0,0,0

In [99]:
def price_preprocessing(data):
    data = data.replace('-', '0')
    data = data.replace(',', '')
    
    return int(data)

In [100]:
def date_preprocessing(data):
    data = data.strip()
    if data != '-':
        if int(data[:2]) < 50:
            data = '20' + data
        elif int(data[:2]) >= 50:
            data = '19' + data
    
    data = data.replace('-', '1900/01/01')

    return data

In [101]:
def release_price_preprocessing(data):
    filtered = re.findall('\d[0-9,]*원', data)
    if filtered:
        data = filtered[0].replace('원', '').replace(',', '')
    else:
        data = '0'
    
    return int(data)

In [102]:
df_copy['rescent_price'] = df_copy['rescent_price'].apply(price_preprocessing)
df_copy['instant_buy_price'] = df_copy['instant_buy_price'].apply(price_preprocessing)
df_copy['instant_sell_price'] = df_copy['instant_sell_price'].apply(price_preprocessing)
df_copy['release_date'] = df_copy['release_date'].apply(date_preprocessing)
df_copy['release_price'] = df_copy['release_price'].apply(release_price_preprocessing)

In [107]:
df_copy

,_id,brand,prod_kr_name,rescent_price,model_no,release_date,colors,release_price,instant_buy_price,instant_sell_price,...,Jordan 14,Jordan 15,Jordan 16,Jordan 17,Jordan 18,Jordan 19,Jordan 20,Jordan 21,Jordan 22,Jordan 23
0,Jordan 1 Low Vintage Grey,Jordan,조던 1 로우 빈티지 그레이,200000,553558-053,1900-01-01,GREY/WHITE/CREAM,129000,202000,201000,...,0,0,0,0,0,0,0,0,0,0
1,Jordan 1 x Travis Scott x Fragment Retro Low O...,Jordan,조던 1 x 트래비스 스캇 x 프라그먼트 레트로 로우 OG SP 밀리터리 블루,1555000,DM7866-140,2021-08-13,SAIL/BLACK/MILITARY BLUE,189000,1540000,2230000,...,0,0,0,0,0,0,0,0,0,0
2,Jordan 1 Retro High OG Black Mocha,Jordan,조던 1 레트로 하이 OG 블랙 모카,702000,555088-105,2020-11-13,SAIL/DARK MOCHA-BLACK-BLACK,199000,600000,818000,...,0,0,0,0,0,0,0,0,0,0
3,Jordan 4 Retro White and Black,Jordan,조던 4 레트로 화이트 앤 블랙,312000,DH6927-111,2022-05-23,WHITE/BLACK/NEUTRAL GREY,249000,299000,313000,...,0,0,0,0,0,0,0,0,0,0
4,Jordan 1 Retro High OG Bleached Coral,Jordan,조던 1 레트로 하이 OG 블리치드 코랄,244000,555088-108,2022-05-14,WHITE/BLACK/GREY FOG/BLEACHED CORAL,209000,207000,270000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,Jordan 1 Retro High OG SP Gina (Special Box),Jordan,조던 1 레트로 하이 OG SP 지나 (스페셜 박스),0,CD7071-001,2019-05-25,BLACK/BLACK-WHITE-VARSITY RED,234600,0,0,...,0,0,0,0,0,0,0,0,0,0
2989,Jordan 13 Retro Low Quai 54,Jordan,조던 13 레트로 로우 콰이 54,0,810551-050,2015-06-14,BLACK/DARK GREY-WHITE-CHROME,325200,0,0,...,0,0,0,0,0,0,0,0,0,0
2990,(GS) Jordan 11 Retro Heiress Velvet,Jordan,(GS) 조던 11 레트로 헤어리스 벨벳,290000,852625-650,2016-12-18,NIGHT MAROON/METALLIC GOLD-NIGHT MAROON,286200,340000,180000,...,0,0,0,0,0,0,0,0,0,0
2991,Jordan 1 Retro High Flyknit Derek Jeter RE2PECT,Jordan,조던 1 레트로 하이 플라이니트 데릭 지터 RE2PECT,350000,AH7233-105,2018-02-24,SAIL/METALLIC GOLD-MIDNIGHT NAVY,234100,380000,150000,...,0,0,0,0,0,0,0,0,0,0
2992,(GS) Jordan 1 Retro High Melo,Jordan,(GS) 조던 1 레트로 하이 멜로,229000,705300-026,2014-12-20,BLACK/METALLIC GOLD-WHITE,143100,299000,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
df_copy['release_date'] = pd.to_datetime(df_copy['release_date'], format='%Y/%m/%d')

In [106]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 88 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 2993 non-null   object
 1   brand               2993 non-null   object
 2   prod_kr_name        2993 non-null   object
 3   rescent_price       2993 non-null   int64
 4   model_no            2993 non-null   object
 5   release_date        2993 non-null   datetime64[ns]
 6   colors              2993 non-null   object
 7   release_price       2993 non-null   int64
 8   instant_buy_price   2993 non-null   int64
 9   instant_sell_price  2993 non-null   int64
 10  img_url             2993 non-null   object
 11  OG                  2993 non-null   int32
 12  Retro               2993 non-null   int32
 13  SP                  2993 non-null   int32
 14  QS                  2993 non-null   int32
 15  SB                  2993 non-null   int32
 16  SE                  2993 non-null   int32
 17  FF                  2993 non-null   int32
 18  Chicago             2993 non-null   int32
 19  High                2993 non-null   int32
 20  Mid                 2993 non-null   int32
 21  Low                 2993 non-null   int32
 22  Clot                2993 non-null   int32
 23  Fragment            2993 non-null   int32
 24  Union               2993 non-null   int32
 25  Jayson              2993 non-null   int32
 26  J                   2993 non-null   int32
 27  League              2993 non-null   int32
 28  Paris               2993 non-null   int32
 29  A                   2993 non-null   int32
 30  Trophy              2993 non-null   int32
 31  Travis              2993 non-null   int32
 32  Maison              2993 non-null   int32
 33  Dior                2993 non-null   int32
 34  Nina                2993 non-null   int32
 35  Billie              2993 non-null   int32
 36  Off                 2993 non-null   int32
 37  SoleFly             2993 non-null   int32
 38  Russell             2993 non-null   int32
 39  Supreme             2993 non-null   int32
 40  Levis               2993 non-null   int32
 41  Patta               2993 non-null   int32
 42  Aleali              2993 non-null   int32
 43  Social              2993 non-null   int32
 44  Ghetto              2993 non-null   int32
 45  Blue                2993 non-null   int32
 46  Lance               2993 non-null   int32
 47  SNS                 2993 non-null   int32
 48  Facetasm            2993 non-null   int32
 49  DSM                 2993 non-null   int32
 50  Kaws                2993 non-null   int32
 51  Olivia              2993 non-null   int32
 52  Titan               2993 non-null   int32
 53  Melody              2993 non-null   int32
 54  Anna                2993 non-null   int32
 55  Converse            2993 non-null   int32
 56  Vogue               2993 non-null   int32
 57  Serena              2993 non-null   int32
 58  Carmelo             2993 non-null   int32
 59  Carhartt            2993 non-null   int32
 60  Sheila              2993 non-null   int32
 61  Pendleton           2993 non-null   int32
 62  Rox                 2993 non-null   int32
 63  Nike                2993 non-null   int32
 64  Comme               2993 non-null   int32
 65  PSNY                2993 non-null   int32
 66  Jordan 1            2993 non-null   int32
 67  Jordan 2            2993 non-null   int32
 68  Jordan 3            2993 non-null   int32
 69  Jordan 4            2993 non-null   int32
 70  Jordan 5            2993 non-null   int32
 71  Jordan 6            2993 non-null   int32
 72  Jordan 7            2993 non-null   int32
 73  Jordan 8            2993 non-null   int32
 74  Jordan 9            2993 non-null   int32
 75  Jordan 10           2993 non-null   int32
 76  Jordan 11           2993 non-null   int32
 77  Jordan 13           2993 non-null   int32
 78  Jordan 14           2993 non-null   int32
 79  Jordan 15           2993 non-null   int32
 80  Jordan 16           2993 non-null   int32
 81  Jordan 17           2993 non-null   int32
 82  Jordan 18           2993 non-null   int32
 83  Jordan 19           2993 non-null   int32
 84  Jordan 20           2993 non-null   int32
 85  Jordan 21           2993 non-null   int32
 86  Jordan 22           2993 non-null   int32
 87  Jordan 23           2993 non-null   int32
dtypes: datetime64[ns](1), int32(77), int64(4), object(6)
memory usage: 1.1+ MB

In [109]:
#df_copy.to_csv('kream_detail.csv', index=False)